.container {
  width: 100%;
}

h1 {
  font-weight: 400;
  margin: 0.4em 0;
}

.typeheader {
  font-family: arial;
  font-size: 42px;
  font-weight: bold;
  color: #999999;

}

.typer {
  margin-left: 3%;
}